---
title: All Posts
---
<div class="container">
  <div id="article">
  <h1>Archive</h1>
  <!-- 편리성을 위해 태그기능 구현 필요 -->
  <!-- <div class="tags">
    {% for tag in site.data.tags %}
      <span class="tag" data-tag="{{tag}}">{{ tag }}</span>
    {% endfor %}
  </div> -->
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <time class="pull-right post-list">
          <h4>{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</h4>
        </time>
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
