---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p>
  {% if page.tags %}
    <div class="tags">
      {% for tag in page.tags %}
        {% if site.data.tags contains tag %}
          <!-- bootstrap 적용해보기 -->
          <span class="tag badge rounded-pill bg-primary">{{ tag }}</span> 
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <hr/>
  <div class="post">
    {{ content }}
  </div>
</div>
{% include share.html %}
{% include pager.html %}
{% include comment.html %}
